      #<% if flash[:error] %>
        #<div class="alert alert-danger" role="alert">
            #<%=  flash[:error] %>
        #</div>
      #<% end %>

<!--Div for Background-->
<div class="bg text-center">

  <!--Div for Centered Text & Input--> 
  <div class="centered">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      
      <p class="firstLine"> P &nbsp; A &nbsp; R &nbsp; T &nbsp; A &nbsp; G &nbsp; E &nbsp; . &nbsp; T &nbsp; O &nbsp; N &nbsp; . &nbsp; G &nbsp; O &nbsp; S &nbsp; S &nbsp; I &nbsp; P &nbsp;</p>
    
      <p class="secondLine">(sans culpabiliser)</p>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Titre' %>
      <%= text_field_tag 'title'%>
      <br>

      <%= label_tag 'Contenu' %>
      <%= text_field_tag 'content'%>
      <br><br>

      <%= submit_tag "Créer un potin" %>
   <% end %>
  </div>   
</div>

  </body>
</html>